section {

  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 1170px;
  width: 80%;
  display: flex;

  flex-direction: column;
  gap: 3rem;
  h1 {
    text-align: center;
  }


  .grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .group {
    overflow: hidden; /* Garante que qualquer conteúdo excedente seja ocultado */
    border: 1px solid rgba(92, 92, 92, 0.267);
    position: relative;
    img {
      width: 100%;
      object-fit: cover; /* Mantém a proporção da imagem e a preenche completamente no contêiner */
      transition: transform 0.2s ease; /* Adiciona uma transição suave ao efeito de zoom */

      &:hover{
        transform: scale(1.1); /* Ajuste o valor para ampliar a imagem no hover */
      }
    }

    div {
      padding: 0 1rem 1rem 1rem;

      h4 {
        margin-top: 17px;
        margin-bottom: 11px;
        color: #252525;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* Número de linhas para exibir */
        -webkit-box-orient: vertical;
        line-height: 1.6em;
        /* Altura da linha */
        max-height: calc(1.6em * 3);
        /* Altura máxima */
      }
    }

  }

  .container-button{
    text-align: center;
  button{
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    transition: all .5s ease;
    position: relative;
    padding: 0 33px;
    transition: .3s ease;
    cursor: pointer;
  }
}
}
