<section>
  <h3>Shop</h3>
  <div class="shop-container">
    <div class="side-view">
      <div class="shop-search">
        <input type="text" placeholder="Pesquisar">
        <button>
          <ng-icon name="heroMagnifyingGlass"></ng-icon>
        </button>
      </div>
      <div class="side-categoria">
        <h4>Categoria</h4>
        <div class="side-container-checkbox">
          <div class="checkbox-group">
            <input type="checkbox" id="drinks">
            <label for="drinks">Facas</label>
            <span>[20]</span>
          </div>
        </div>
      </div>

      <div class="side-price">
        <span>Preço: R$1,00 - R$2.000,00 </span>
        <button>Filtrar</button>
      </div>
      <div class="side-tages">
        <h4 class="cr-shop-sub-title">Tages</h4>
        <ul class="cr-tags">
          <li><a href="javascript:void(0)">Vegetables</a></li>
          <li><a href="javascript:void(0)">juice</a></li>
          <li><a href="javascript:void(0)">Food</a></li>
          <li><a href="javascript:void(0)">Dry Fruits</a></li>
          <li><a href="javascript:void(0)">Vegetables</a></li>
          <li><a href="javascript:void(0)">juice</a></li>
        </ul>
      </div>
    </div>
    <app-griditems></app-griditems>
  </div>
</section>