<footer class="footer ">
  <div class="footer-main-container">
    <div class="footer-widget">
      <h3>Empresa Demo</h3>
      <p>
        Our professionalism, good service & trust to the home repair maintenance business. We take immense pride
        in sending some
        of the most of professional seds handymen to yours that aren't workings every day.
      </p>
    </div>
    <div class="footer-widget">
      <h3>Institucional</h3>
      <ul class="empresa-links">
        <a href="">Sobre Nos</a>
        <a href="">Termos e condiçoes</a>
        <a href="">Contato</a>
      </ul>
    </div>
    <div class="footer-widget">
      <h3>Redes Sociais</h3>
      <div class="social">
        <a href="#" target="_blank">
          <ng-icon name="bootstrapFacebook"></ng-icon>
        </a>
        <a href="#" target="_blank">
          <ng-icon name="bootstrapLinkedin"></ng-icon>
        </a>
        <a href="#" target="_blank">
          <ng-icon name="bootstrapInstagram"></ng-icon>
        </a>
      </div>

    </div>
    <div class="footer-widget">
      <h3>Contatos</h3>
      <div class="contact-infos">

        <div class="icon_box">
          <i class="icon-signs"></i>
        </div><!-- /.icon-box -->
        <div class="text-box">
          <p>STRUCTURE AVENUE, <br>Melbourne City, Aus 3002</p>
        </div><!-- /.text-box -->


        <div class="icon_box">
          <i class="icon-global"></i>
        </div><!-- /.icon-box -->
        <div class="text-box">
          <p>+321 4567 89 012 <br>{{'supportyou@woodwork.com'}}</p>
        </div><!-- /.text-box -->


        <div class="icon_box">
          <i class="icon-clock"></i>
        </div><!-- /.icon-box -->
        <div class="text-box">
          <p>WORKING HOURS <br>{{'supportyou@woodwork.com'}}</p>
        </div>

      </div>

    </div>

  </div>
  <div class="footer-copyright">
    Copyrights © 2024 All Rights Reserved
  </div>

</footer>