:host {
    width: 100%;
    margin-bottom: 1rem;

    form {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1rem;

        select {
            flex: 1;
        }

        button {
            width: 100%;
        }
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: row;

        gap: 1rem;

        input{
          padding: 5px;
          height: 35px;
        }
        select{
          padding: 5px;
          height: 35px;
        }
    }

}
