<div class="addproduct-container-top">
    <h2>Adicionar Categoria</h2>
    <a routerLink="/admin/caterys">Ver Todos</a>
</div>
<br>
<div class="addproduct-container-body">
    <form  (submit)="AddCategory($event)">
        <div class="row">
            <div class="group">
                <label for="">Nome</label>
                <input placeholder="teste">
            </div>
            <div class="group">
                <label for="">Slug</label>
                <input placeholder="teste">
            </div>
        </div>
        <div class="container-buttons">
            <button type="submit">Adicionar Categoria</button>
        </div>
    </form>
</div>
