@import 'variables';

:host {
  display: block;
  width: 100%;

  button {
    display: flex;
    align-content: center;
    width: 100%;
    border: 0;
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;


    span {
      display: inline-block;
      vertical-align: middle;
      width: 150px;
      white-space: nowrap;
      margin-left: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    color: $color-primary;
    background-color: transparent;

    &.selecionado {
      background-color: $color-primary;
      color: $white;
    }

    &:hover {
      background-color: $color-second;
    }
  }
}