:host {
    width: 50%;
    position: relative;
}

.input-container {
    position: relative;
    width: 100%;

}


button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    width: 40px;
    border: none;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;

    ng-icon {
        font-size: 1.5rem;
    }
}