<div class="container max1170">
    <section class="section-primary">
        <div class="grid-images">
            <img src="/assets/images/cremeamolecedor.webp" alt="">
            <img src="assets/images/cremeamolecedor.webp" alt="">
            <img src="assets/images/cremeamolecedor.webp" alt="">
            <img src="assets/images/cremeamolecedor.webp" alt="">
            <img src="assets/images/cremeamolecedor.webp" alt="">
        </div>
        <div class="container-image">
            <img src="assets/images/cremeamolecedor.webp" alt="">
        </div>
        <div class="container-info">
            <h1>Nome</h1>
            <span>R$10,00</span>
            <P>10 X R$1,00 </P>
        </div>
    </section>
    <section>
        <h1>Descrição</h1>


    </section>
</div>