<div class="cardslider">

    <div class="container-cards">
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
    </div>


    <button class="cardslider-control-prev" (click)="prevSlide()">
      <ng-icon name="bootstrapArrowLeftCircle"></ng-icon>
    </button>
    <button class="cardslider-control-next" (click)="nextSlide()">
      <ng-icon name="bootstrapArrowRightCircle"></ng-icon>
    </button>
</div>
