<div class="cardslider">

    <div class="container-cards">
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
        <app-carditem class="cardslider-item"></app-carditem>
    </div>


    <button class="cardslider-control-prev" (click)="prevSlide()">
        <span class="fas fa-chevron-left"></span>
    </button>
    <button class="cardslider-control-next" (click)="nextSlide()">
        <span class="fas fa-chevron-right"></span>
    </button>
</div>