<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets/images/logo.jpg" alt="" srcset="">
  </div>

  <div class="menu-container flex opcoes">
    <app-buttonmenu [descricao]="'Dashboard'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>

    <app-buttonmenu [descricao]="'Categorias'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>


    <app-buttonmenu [descricao]="'Produtos'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>
    <app-buttonmenu [descricao]="'Usuarios'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>
    <app-buttonmenu [descricao]="'Funcões'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>
    <app-buttonmenu [descricao]="'Ordens'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>
    <app-buttonmenu [descricao]="'Sair'" [selecionado]="menuSelecionado === 'Home'" (click)="botaoClick('Home')">
      <ng-icon name="bootstrapGrid"></ng-icon>
    </app-buttonmenu>
  </div>

  <div class="menu-container flex">
    <span class="playlist-titulo">

    </span>

    <div class="playlist-scroll">


    </div>

  </div>

</div>