<section class="quem-somos">
    <div class="container">
        <div class="grid">
            <div class="titulo-container">
                <h3>Quem Somos</h3>
                <div></div>
            </div>
            <div>
                <h2>Sobre a Empresa Demo</h2>
            </div>
            <div class="conteudo">
                <div class="texto">
                    <p>Somos [nome da empresa], uma empresa [descrição da empresa].</p>

                    <p>Nossa missão é [missão da empresa].</p>

                    <p>Nossos valores são:</p>

                    <ul>
                        <li>[valor 1]</li>
                        <li>[valor 2]</li>
                        <li>[valor 3]</li>
                    </ul>
                </div>

                <div class="imagem">
                    <img src="imagem-da-empresa.jpg" alt="Imagem da empresa">
                </div>
            </div>

            <div class="equipe">
                <h3 class="titulo">Nossa Equipe</h3>

                <div class="membros">
                    <div class="membro" >
                        <div class="foto-container">

                        </div>

                        <div class="info">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="nossos-servicos">
    <h2>serviços</h2>
</section>
<section class="sobre-empresa">
    <h2>sobre a empresa</h2>
    <div>
        <h3>Over 25 Years Experience in This Industry</h3>

        <p>Our commitment to bring professionalism, good service & trust to the home repair service & maintenance
            business. We take
            immense pride in sending some of the most of professional handymen to yours homes to fix things that aren't
            workings. We
            have fixed over 5,50,000 houses in our little over 25 years of existence so far.</p>

        <p>Since our meetings take place in your home or office, we’ll work with you to help visualize a design solution
            that
            aligns with your taste and bugjet, To provide customers with home repair service experience that delights
            them and
            become their best-handy-friend.</p>
    </div>
    <div>
        <video controls>
            <source src="assets/video/demo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</section>
<section class="parceiros">
    <h2>Nossos Parceiros</h2>


</section>
