.sidecart-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.sidecart-view {
    width: 400px;
    height: 100%;
    background-color: antiquewhite;
    padding: 2rem;


}

.sidecart-top {
    display: flex;
    justify-content: space-between;

    h3 {
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }

    button {
        border: none;
        background-color: transparent;
        color: red;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }
}