<div class="container-top">
  <h2>Todos os Produtos</h2>
  <a routerLink="/admin/addproduct">Add Produto</a>

</div>
<br>
<div class="container-body">

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      @for (item of products; track $index) {

        <tr>
          <td>{{ item.id }}</td>
          <td>
           </td>
          <td>{{ item.name }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
          <td>{{ item.price }}</td>
        </tr>

      }
    </tbody>
  </table>


</div>
