<div class="container-top">
  <h2>Todos os Produtos</h2>
  <a routerLink="/admin/addproduct">Add Produto</a>

</div>
<br>
<div class="container-body">

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
      <tr ng-repeat="item in items">
        <td>{{ 1 }}</td>
        <td>
         </td>
        <td>{{ 'item.nome '}}</td>
        <td>{{ 'item.categoria '}}</td>
        <td>{{ 'item.preco | currency '}}</td>
        <td><input type="number" ng-model="item.quantidade" ng-change="updateTotal(item)"></td>
        <td>{{ 'item.total | currency '}}</td>
      </tr>
    </tbody>
  </table>


</div>
