<div class="addproduct-container-top">
  <h2>Adicionar Produto</h2>
  <button class="button-primarys">Ver Todos</button>
</div>
<br>
<div class="addproduct-container-body">
  <form action="">
    <div class="row">
      <div class="group">
        <label for="">Nome</label>
        <input placeholder="teste">
      </div>
      <div class="group">
        <label for="">Tipo</label>
        <input placeholder="teste">
      </div>
    </div>
    <div class="row">
      <div class="group">
        <label for="">Slug</label>
        <input placeholder="teste">
      </div>
      <div class="group">
        <label for="">Sku</label>
        <input placeholder="teste">
      </div>
    </div>
    <div class="row">
      <div class="group">
        <label for="">Unidade</label>
        <input placeholder="teste">
      </div>
      <div class="group">
        <label for="">Quantidade</label>
        <input placeholder="teste">
      </div>
    </div>
    <div class="row">
      <div class="group">
        <label for="">Preço</label>
        <input placeholder="teste">
      </div>
      <div class="group">
        <label for="">Preço de Venda</label>
        <input placeholder="teste">
      </div>
    </div>
    <div class="row">
      <div class="group">
        <label for="">Desconto</label>
        <input placeholder="teste">
      </div>
      <div class="group">
        <label for="">Tags</label>
        <input placeholder="teste">
      </div>
    </div>
    <div class="row">
      <div class="group">
        <label for="">Descrição</label>
        <textarea name="descricao" id=""></textarea>
      </div>

    </div>
    <div class="container-buttons">
      <button>Cancelar</button>
      <button>Adicionar Produto</button>
    </div>

  </form>
  <div class="container-images">
    <img src="" alt="">

    <div>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
  </div>


</div>