<app-carousel></app-carousel>
<section class="flex g-2 section max1170">

    <a href="https://www.gatadamake.com.br/pinceis" title="pinceis de maquiagem loja gata da make" target="_self">

        <img src="assets/images/pinceis.webp" alt="pinceis de maquiagem loja gata da make" draggable="false">

    </a>
    <a href="https://www.gatadamake.com.br/pinceis" title="pinceis de maquiagem loja gata da make" target="_self">

        <img src="assets/images/blush.webp" alt="pinceis de maquiagem loja gata da make" draggable="false">

    </a>
    <a href="https://www.gatadamake.com.br/pinceis" title="pinceis de maquiagem loja gata da make" target="_self">

        <img src="assets/images/ciliosposticos.webp" alt="pinceis de maquiagem loja gata da make" draggable="false">
    </a>

</section>
<section class="section max1170">
    <h2>Nossas Novidades</h2>
    <div class="cardslider">
        <app-cardslider class="cardslider"></app-cardslider>
    </div>

</section>
<section class="section max1170">
    <h2>Nossas Marcas</h2>
    <div class="cardslider">
        <app-cardslider class="cardslider"></app-cardslider>
    </div>

</section>
<section class="section newsletter  ">
    <div class="max1170">
        <h2>newsletter</h2>
        <span>Receba todas as promoções</span>
        <p>Quer receber nossas ofertas? Cadastre-se e comece a recebê-las!</p>
        <input type="text" placeholder="Email">
        <button>></button>
    </div>


</section>
 <h2>Siga nosso Instagram {{'@INSTAGRAMDEMO'}} </h2>
