$color-primary: #F9B7B9;
$color-second: #74353D;
$color-background-primary: #FAD7D3;
$color-background-second: #c9c7c7;

$black-transparent-30: #0000004D;
$black-transparent-20: #00000033;
$black-transparent-03: #00000008;
$black-transparent-70: #000000b3;

$white: #fff;